/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 30, 2016, 1:56:26 PM
    Author     : Sarower
*/

body{
    font-family: 'Roboto', sans-serif;
    background: #d2d6de;
}

.welcome_text{
    font-size: 60px;
    text-align:center;
    margin:50px auto;
    max-width:85%;
    font-weight: 100;
    opacity: 0;
    transition:all 1s .5s;
    transform: translate3d(0px, 30px, 0px);
}
img.plane{
    width:150px;
    display:block;
    margin:150px auto 0;
    opacity: 0;
    transition:all 1s .5s;
    transform: translate3d(-30px, 30px, 0px);
}
.welcome_text.show{
    opacity: 1;
    transform: translate3d(0px, 00px, 0px);
}
img.plane.show{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}
.your_profile{
    opacity: 0;
    transition:all 1s .7s;
}
.your_profile.show{
    opacity: 1;
}

.profile_page{
    padding-top: 100px;
}